<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Styling</h1>
    </header>
    <section id="assignment">
      <!-- 1) 사용자 입력을 가져와 CSS 클래스로 사용 -->
      <!-- 입력한 클래스는 아래 단락에 추가되어야 합니다 -->
      <input type="text" v-model="userCssClass"/>
      <!-- (available classes: "user1", "user2") -->
      <p
        :class="[userCssClass, isVisible]"  
      >
        Style me!
      </p>
      <button @click="clickToggle">Toggle Paragraph</button>
      <!-- 2) "보이는" 및 "숨겨진" 클래스를 사용하여 위 단락을 표시/숨깁니다 -->
      <!-- 버튼을 클릭하면 두 옵션이 전환됩니다 -->

      <!-- 3) 아래 단락에 동적 인라인 스타일링을 추가하고 사용자가 배경색을 입력할 수 있도록 합니다. -->
    <input type="text" v-model="backgroundColor" />
      <p :style="{'background-color': backgroundColor}">Style me inline!</p>
    </section>
  </body>
</html>
